
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ADD8E6; /* 水色の背景色 */
    }
    


header {
    background-image: url('fishing-background.jpg'); /* 釣りの画像を背景に設定 */
    background-size: cover; /* 背景画像をウィンドウ全体に広げる */
    color: #fff; /* テキストの色を白に設定 */
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* 中央揃えにする */
}
h1 {
    color: red; /* テキスト色を赤に設定 */
    margin: 0; /* デフォルトのマージンを削除 */
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px; /* セクションをまるくする */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影の追加 */
}

footer {
    background-color: #a69f9f;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* 影の追加 */
}

