body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ad7ec; /* 背景色 */
    video#background-video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: -1; /* 背景ビデオをコンテンツの背後に配置 */
    }
    
    /* Header Section */
    header-title {
        position: relative;
        z-index: 2;
        
        color: #fc0aab; /* テキストの色 */
        padding: 20px;
        border-radius: 20px; /* 丸くするために変更 */
        box-shadow: 0 4px 6px rgb(252, 5, 5);
        text-align: center; /* 中央揃えにする */
    }
    
    h1 {
        color: red; /* テキスト色を赤に設定 */
        margin: 0; /* デフォルトのマージンを削除 */
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    nav ul li a {
        color: #fa0606;
        text-decoration: none;
    }
    
    main {
        padding: 20px;
    }
    
    section {
        
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px; /* セクションを丸くする */
        box-shadow: 0 4px 6px rgb(238, 4, 27); /* 影の追加 */
    }
    
    footer {
        
        color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 -4px 6px rgb(254, 2, 2); /* 影の追加 */
    }
    
    #about img, #portfolio img, #contact img {
        max-width: 50%; /* 画像の幅を50%に設定 */
        height: auto; /* アスペクト比を保持して高さを自動調整 */
        display: block; /* 画像をブロック要素として中央揃え */
        margin: 0 auto; /* 左右のマージンを自動で設定して中央揃え */
    }
    
    #caught img {
        max-width: 50%; /* 画像の幅を50%に設定 */
        height: auto; /* アスペクト比を保持して高さを自動調整 */
        display: block; /* 画像をブロック要素として中央揃え */
        margin: 0 auto; /* 左右のマージンを自動で設定して中央揃え */
    }
    
    #contact img {
        max-width: 30%; /* 画像の幅を30%に設定 */
        height: auto; /* アスペクト比を保持して高さを自動調整 */
        display: block; /* 画像をブロック要素として中央揃え */
        margin: 0 auto; /* 左右のマージンを自動で設定して中央揃え */
    }
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ad7ec; /* 背景色 */
    video#background-video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        z-index: -1; /* 背景ビデオをコンテンツの背後に配置 */
    }
    
    
    
}
   
   

